.spinner{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 10000;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(240, 248, 255, .5);
}
.navbar-brand{
  color: aliceblue;
}
.card-img-top{
  max-width: 400px !important;
  height: 430px;
}
.card-body{
  background-color: rgb(2, 9, 48);
  color: aliceblue;
}



